backend/statemachine/pay_file_processing.asl.json
{
  "Comment": "Orchestrates pay file processing with validation - implements automatic supersede workflow",
  "StartAt": "ExtractMetadata",
  "States": {
    "ExtractMetadata": {
      "Type": "Task",
      "Resource": "${FileProcessorFunctionArn}",
      "Parameters": {
        "action": "extract_metadata",
        "fileId.$": "$.fileId",
        "bucket.$": "$.s3_bucket",
        "key.$": "$.key"
      },
      "ResultPath": "$.metadata",
      "Next": "MatchPeriod",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ]
    },
    "MatchPeriod": {
      "Type": "Task",
      "Resource": "${FileProcessorFunctionArn}",
      "Parameters": {
        "action": "match_period",
        "fileId.$": "$.fileId",
        "metadata.$": "$.metadata"
      },
      "ResultPath": "$.period",
      "Next": "CheckDuplicates",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ]
    },
    "CheckDuplicates": {
      "Type": "Task",
      "Resource": "${FileProcessorFunctionArn}",
      "Parameters": {
        "action": "check_duplicates",
        "fileId.$": "$.fileId",
        "period.$": "$.period"
      },
      "ResultPath": "$.duplicates",
      "Next": "DuplicatesFound",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ]
    },
    "DuplicatesFound": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.duplicates.hasDuplicates",
          "BooleanEquals": true,
          "Next": "SupersedeExisting"
        }
      ],
      "Default": "ParseRecords"
    },
    "SupersedeExisting": {
      "Type": "Task",
      "Resource": "${FileProcessorFunctionArn}",
      "Parameters": {
        "action": "supersede_existing",
        "fileId.$": "$.fileId",
        "existing_file_id.$": "$.duplicates.existing_file_id"
      },
      "ResultPath": "$.superseded",
      "Next": "ParseRecords",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ],
      "Comment": "Automatically supersede old file - no user prompt (Gemini improvement #4)"
    },
    "ParseRecords": {
      "Type": "Task",
      "Resource": "${FileProcessorFunctionArn}",
      "Parameters": {
        "action": "parse_records",
        "fileId.$": "$.fileId",
        "bucket.$": "$.s3_bucket",
        "key.$": "$.key",
        "metadata.$": "$.metadata",
        "period.$": "$.period"
      },
      "ResultPath": "$.parsedRecords",
      "Next": "ValidateRecords",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ]
    },
    "ValidateRecords": {
      "Type": "Task",
      "Resource": "${ValidationEngineFunctionArn}",
      "Parameters": {
        "fileId.$": "$.fileId",
        "records.$": "$.parsedRecords.records"
      },
      "ResultPath": "$.validation",
      "Next": "HasCriticalErrors",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ],
      "Comment": "Uses contractor_umbrella_associations for many-to-many validation (Gemini improvement #1)"
    },
    "HasCriticalErrors": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.validation.hasCriticalErrors",
          "BooleanEquals": true,
          "Next": "ProcessingFailedWithErrors",
          "Comment": "Critical errors block import - NO data imported (Gemini improvement #2)"
        }
      ],
      "Default": "ImportRecords"
    },
    "ImportRecords": {
      "Type": "Task",
      "Resource": "${FileProcessorFunctionArn}",
      "Parameters": {
        "action": "import_records",
        "fileId.$": "$.fileId",
        "records.$": "$.parsedRecords.records",
        "validation.$": "$.validation"
      },
      "ResultPath": "$.import",
      "Next": "ProcessingComplete",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ],
      "Comment": "Warnings allow import with COMPLETED_WITH_WARNINGS status (Gemini improvement #2)"
    },
    "ProcessingComplete": {
      "Type": "Task",
      "Resource": "${FileProcessorFunctionArn}",
      "Parameters": {
        "action": "mark_complete",
        "fileId.$": "$.fileId",
        "import.$": "$.import"
      },
      "ResultPath": "$.completed",
      "Next": "Success",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ]
    },
    "ProcessingFailedWithErrors": {
      "Type": "Task",
      "Resource": "${FileProcessorFunctionArn}",
      "Parameters": {
        "action": "mark_error",
        "fileId.$": "$.fileId",
        "validation_errors.$": "$.validation.errors"
      },
      "ResultPath": "$.errorMarked",
      "Next": "Failed",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ],
      "Comment": "Status=ERROR, no records imported"
    },
    "ProcessingFailed": {
      "Type": "Task",
      "Resource": "${FileProcessorFunctionArn}",
      "Parameters": {
        "action": "mark_failed",
        "fileId.$": "$.fileId",
        "error.$": "$.error"
      },
      "ResultPath": "$.errorMarked",
      "Next": "Failed"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Failed": {
      "Type": "Fail",
      "Error": "WorkflowFailed",
      "Cause": "The file processing workflow encountered an error"
    }
  }
}
